@import "normalize.css";

@csc_navy: #002554; 
@csc_mid_blue: #bdd6e6; 
@csc_cool_blue: #00a9e0; 
@csc_royal_blue: #005eb8; 
@csc_glacier_white: #eaf5fb; 

.timer {
    display: inline-block;
    //padding: 10px;
}

.debug-border{
    border: 1px solid red; //debug
}

body, html{
    background: #000014;
    *{
        box-sizing: border-box;
    }
}

body{
    background-image: url('../img/bg.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
}

header{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    width: 100%;
    max-width: 1500px;
    display: flex;
    margin: 0 auto;
    //padding: 50px;
    padding-bottom: 0;
    justify-content: space-between;
    //border: 1px solid green; //debug
    section{
        width: 100%;
        max-width: 49%;
        //display: inline-block;
        text-align: center;
        //border: 1px solid red; //debug
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        //padding: 25px;
        h1 span{
            color: @csc_cool_blue;
            &.date{
                color: inherit;
                margin-top: 25px;
                font-size: 80%;
                display: block;
            }
        }
        >*{
            display: block;
            margin: 0 auto;
            margin-bottom: 25px;
        }
        img#logo{
            max-width: 35%;
            height: auto;
        }
        &#countdown{
            background-image: url('../img/CS_elite_machine_bg01.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: -32px bottom;
            min-height: 380px;
            justify-content: flex-end;
            #timer, #timertest{
                margin-bottom: 50px;
                .timer{
                    &:after{
                        content: ':';
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translatey(-65%);
                        font-size: 50px;
                    }
                    &:last-child{
                        &:after{
                            display: none;
                        }
                        padding-right: 0;
                    }
                    text-align: center;
                    padding-right: 10px;
                    box-sizing: content-box;
                    position: relative;
                    //.debug-border;
                }
                .figure{
                    font-size: 50px;
                    display: inline-block;
                    width: 80px;
                    //padding: 0 20px;
                }
                .key{
                    font-size: 10px;
                }
            }
            &:before{
                // content: '';
                // background: url('../img/CS_elite_machine_bg01.png');
                // background-size: 100% auto;
                // display: block;
                // width: 100px;
                // position: absolute;
            }
        }
    }
}

//mobile breakdowns
@media only screen 
and (max-width: 1024px) {
    body, html{
        //background: red; //debug
    }
    body{
        background-position: bottom;
    }
    header {
        display: block;
        padding-top: 50px;
        section{
            max-width: 100%;
            min-height: 300px;
            img#logo{
                max-width: 50%;
            }
            &#countdown{
                margin-top: -250px;
            }
        }
    }
}